<!-- <div class="body">
    <div class="subbody-1">
        <div class="heading">
            <h1>
                MENTAL HEALTH IS IMPORTANT
            </h1>
        </div>
        <div class="content">
            <p>
                The prolonged pandemic has resulted in people feeling increasingly isolated,
                which is likely to worsen their mental health. Constant worries about how the
                future will unfold and the feelings of helplessness it brings have undoubtedly
                imprinted themselves upon us. Constantly being fed with information and rumors is
                both overwhelming and exhausting. The impact the prevailing situations are having
                on us are tremendous and mostly negative. It has brought about an accelerated change
                in the mental state of people giving rise to feelings of depression and mental illnesses.
                This website aims to provide information for coping and for taking care of your mental
                health. Music is said to help calm the anxious mind and improve mental conditions,
                therefore this website includes a quiz section to suggest music based on your mood.
                There is also a game section to keep you occupied and keep the intrusive thoughts away.
                There is a fun section with jokes to lighten your mood and motivational quotes to uplift
                you and boost morale.
            </p>
            <button class="btn">
                Subscribe
            </button>
        </div>
    

    </div>
</div> -->

<!-- <header>
    <h1>Welcome to WellnessHub</h1>
  </header> -->

<section id="intro">
    <div class="box d-flex flex-column justify-content-center" style="background-color: #fff;">
        <h1 routerLink="homepage" style="cursor: pointer;">Welcome to WellnessVibes</h1>
        <p>Your Journey to Holistic Well-Being Begins Here</p>
    </div>
    <div class="img1" style="    background-size: cover;
    background-position: center center;">
        <img src="../../assets/img/image.png" alt="">
    </div>
</section>

<section id="features">
    <div class="feature" id="wellness-plans">
        <img src="../../assets/img/schedule.png" alt="Nutrition Image">
        <h2 routerLink="/assessment" style="cursor: pointer;">Personalized Recommendations</h2>
        <p>Tailored nutrition, exercise, and mindfulness recommendations based on your unique goals and preferences.</p>
    </div>

    <div class="feature" id="track-progress">
        <img src="../../assets/img/rising.png" alt="Progress Image">
        <h2>Track Your Progress</h2>
        <p>Log your daily activities, monitor your fitness achievements, and visualize your progress with intuitive
            charts.</p>
    </div>

    <div class="feature" id="nourish-body">
        <img src="../../assets/img/tracking-app.png" alt="Meal Tracking Image">
        <h2 routerLink="/activities" style="cursor: pointer;">Nourish Your Body</h2>
        <p>Easily track your meals, calorie intake, and nutritional content with our user-friendly features.</p>
    </div>

    <div class="feature" id="mindfulness-stress">
        <img src="../../assets/img/stress-management.png" alt="Mindfulness Image">
        <h2 routerLink="/stress" style="cursor: pointer;">Mindfulness and Stress Management</h2>
        <p>Explore curated mindfulness activities and stress management techniques to enhance your emotional well-being.
        </p>
    </div>

    <div class="feature" id="customizable-workouts">
        <img src="../../assets/img/workout.png" alt="Workout Image">
        <h2 routerLink="/workout" style="cursor: pointer;">Workouts Plans</h2>
        <p>Our easy-to-use workout builder allows you to find routines to fit your specific needs and
            preferences.Choose from a library of workout plan and schedule activities that fit
            your lifestyle.
        </p>
    </div>
</section>

<section id="getting-started">
    <h2 style="text-transform: uppercase; font-family: 'Roboto Mono', monospace; text-decoration: underline; font-weight: bold;">Getting Started:</h2>
    <p><a routerLink="/login" style=" color: black; cursor: pointer;">Create Your
            Account:</a> Sign up using your email or connect instantly through Google or Facebook.</p>
    <p><a routerLink="/assessment" style=" color: black; cursor: pointer;">Take the Health Assessment:</a> Dive into a
        comprehensive health assessment questionnaire to kickstart your wellness journey.</p>
</section>

<section id="inspiration">
    <h2 style="text-transform: uppercase; font-family: 'Roboto Mono', monospace; text-decoration: underline; font-weight: bold;">Stay Inspired with WellnessVibes</h2>
    <p><a href="" style=" color: black; cursor: pointer;">Daily Reminders and Motivation:</a> Set reminders for your activities, workouts, and self-care routines. Receive
        motivational messages to keep you inspired every day.</p>
    <p><a routerLink="/feedback" style=" color: black; cursor: pointer;">Your Feedback Matters:</a> We value your input! Share your thoughts, suggestions, or report any issues to help us
        enhance your WellnessHub experience.</p>
</section>

<section id="cta">
    <h2>Ready to Transform Your Life?</h2>
    <p>Join WellnessVibes today and take the first step towards a healthier, more vibrant you.</p>
    <button routerLink="/login">Get Started</button>
    <button><a href="https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response" style="text-decoration: none;">Learn More</a></button>
    <button>Download the App</button>
</section>

<footer>
    <p>&copy; 2023 WellnessVibes. All rights reserved.</p>
</footer>