<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://picsum.photos/id/1011/800/450" alt="" />
        </figure>
        <div class="article-body">
          <h2>Nutrition</h2>
          <p style="font-size:medium;">
            Eating a healthy diet can help to reduce stress and improve sleep<br>
            Example: Fruits and vegetables, Whole Grains, Lean Proteins, Healthy Fats.
            </p>
          <a href="https://www.aetna.com/health-guide/food-affects-mental-health.html#:~:text=When%20you%20stick%20to%20a,symptoms%20of%20depression%20and%20anxiety." class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://picsum.photos/id/1005/800/450" alt="" />
        </figure>
        <div class="article-body">
          <h2>Exercise</h2>
          <p>
            Regular exercise is a great way to reduce stress and improve sleep. Aim for at least 30 minutes of moderate-intensity exercise most days of the week. <br>
            Example: Cardio, Yoga, Tai Chi, Meditation   
           </p>
          <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/exercise-and-mental-health#:~:text=People%20who%20exercise%20regularly%20have,cardiovascular%20and%20overall%20physical%20health." class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://picsum.photos/id/103/800/450" alt="" />
        </figure>
        <div class="article-body">
          <h2>Sleep</h2>
          <p>
            Getting enough sleep is essential for both physical and mental health. Aim for 7-8 hours of sleep each night. <br>
             Example: Regular sleep schedule, Relaxing bedtime routine, Relaxing sleep environment.
        </p>
          <a href="https://newsinhealth.nih.gov/2021/04/good-sleep-good-health#:~:text=Good%20sleep%20improves%20your%20brain,stroke%20to%20obesity%20and%20dementia." class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </article>
  </section>